
h1{
    color: #2980B9;
}

@media screen and (max-width:1024px){

    h1{
        color:#2980B9;

    }

    iframe {

        width: 355px;
        height: 200px;
    }

    .actorContainer{
        width: 500px;
    }



}

@media screen and (max-width:480px) {

    h1{
        color: #2980B9;

    }
    .actorContainer {
        width: 480px;
    }

    .filmList{
        width: 300px;
        max-width: 90%;
    }

    .showList{
        width: 300px;
    }

    .preview{
        width: 300px;
    }

    iframe{

       /*width: 50%;*/
        width: 265px;
        height: 150px;
        /*margin-left: 0;*/
    }

    img{
        max-width: 10%;
       max-height: 50%;
    }


}




.actorContainer{
    /*position: fixed;*/
    /*top: 100px;*/
    right: auto;
    padding:30px;
    width: 700px;
    /*background-color:#ECF01;;*/
    /*margin-top: 100px;*/
    /*margin: 0 auto ;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /*border-style: solid;
    border-color: black;*/
}

body {
    background-color: #ECF0F1;
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-weight: 200;
    margin: 0;
}