
h1{
    color: #2980B9;
}

@media screen and (max-width:1024px){

    h1{
        color:#2980B9;

    }

    iframe {

        width: 355px;
        height: 200px;
    }

    /*.actorContainer{
        width: 380px;
    }*/

}

@media screen and (max-width:480px) {

    h1{
        color: #2980B9;

    }
    /*.actorContainer {
        width: 380px;
    }*/

    .filmList{
        width: 300px;
        max-width: 90%;
    }

    .showList{
        width: 300px;
    }

    .preview{
        width: 300px;
    }

    iframe{
        width: 265px;
        height: 150px;
    }
}

.actorContainer{
    right: auto;
    padding-top:20px;
    /*width: 700px;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    min-width: 380px;
}

body {
    background-color: #ECF0F1;
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-weight: 200;
    margin: 0;
}

.actorLink
{
    float: right;
}

.actorName
{
    margin-bottom: 20px;
    text-align: center;
}

.actorPhoto
{
    margin-bottom: 20px;
}

.primaryGenre
{
    margin-bottom: 20px;
}

.actorContainer .filmList ol li ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.actorContainer .filmList ol li ul .title {
    font-weight: bold;
}

.actorContainer .showList ol li ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.actorContainer .showList ol li ul .title {
    font-weight: bold;
}