body {
    background-color: #ECF0F1;
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-weight: 200;
    margin: 0;
}
h1 {
    border-bottom: 1px #dddddd solid;
    color: #2e2f33;
    font-size: 2em;
    padding-top: 20px;
}
h2 {
    border-bottom: 1px #dddddd solid;
    color: #2e2f33;
    font-size: 1.5em;
    left: 0;
    margin: 0 20px;
    padding-top: 20px;
    right: 0;
    z-index: 9999;
}

h3 {
    color: #2e2f33;
    font-size: 1.3em;
    left: 0;
    margin: 0 0px;
    padding-top: 0px;
    right: 0;
    z-index: 9999;
}

h4 {
    color: #2e2f33;
    font-size: 1.1em;
    left: 0;
    margin: 0 0px;
    padding-top: 0px;
    right: 0;
    z-index: 9999;
}

h4 span {
    font-weight: normal;
}



main {
    margin: 50px 50px 50px 50px;
}
section {
    margin-left: 10px;
}
.infos  {
    margin-bottom: 10px;
}

.btn-itunes {
    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;
    display:inline-block;
    height:40px;
    overflow:hidden;
    text-indent: -9999px;
    width:165px;
}

/*******************************************/
/*    Affichage des listes de film         */
/*******************************************/
.list-movie {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.movie-item {
    background-color: #ECF0F1;
    box-shadow: 0 0 5px #888888;
    color:#2e2f33;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 10px;
    padding:5px;
    position:relative;
    text-align: left;
    width: 12%;
}
.movie-item:hover {
    background-color: #3498DB;
    cursor: pointer;
}
.movie-item img {
    width:100%;
}
.movie-description {
    background-color: #FFFFFF;
    bottom: 0px;
    display: block;
    height: 50px;
    margin-top: -7px;
    width: 100%;
}
.movie-title {
    display: block;
    margin: 5px;
}
.movie-description small {
    color:#666666;
    display: block;
    margin: 5px;

}
/*******************************************/
/*    Affichage des listes des épisodes    */
/*******************************************/
#list-episodes li {
    padding: 5px 0;
    border-bottom: #dddddd 1px solid;
}
/*******************************************/
/*           style pour responsive         */
/*******************************************/
.desktop-hidden {
    display:none;
}
.tablet-hidden {
    display:initial;
}
.mobile-hidden {
    display:initial;
}
.hidden {
    display:none;
}

/*******************************************/
/*              Tablette                   */
/*******************************************/
@media (max-width: 1024px) {
    .desktop-hidden {
        display:initial;
    }
    .tablet-hidden {
        display:none;
    }
    .movie-item {
        width: 25%;
    }

}
/*******************************************/
/*                Mobile                   */
/*******************************************/
@media (max-width: 480px) {
    main {
        margin: 50px 0 0 10px;
    }

    .mobile-hidden {
        display:none;
    }
    .mobile-visible {
        display:initial;
    }

}

.searchResultTitle {
    font-weight: bold;
}
.searchResultTitle {
    font-weight: bold;
}