
.menuBody{
    background-color: lightgray;
}
.userStyle{

    top:12%;
    left:1%;
    position: absolute;
    overflow: hidden;

}
.optionStyle{

    top: 40%;
    left: 0;
position: absolute;
overflow: hidden;

}
.search{

    top: 5%;
    left: 1%;
    position: fixed;
    overflow: hidden;

}

.boutonUser{
    background-color: #2980B9;
    color: #FFFFFF;
    font-size: medium;


}
.boutonMenu{

    background-color: #2980B9;
    color: #FFFFFF;
    font-size: medium;

    width: 200px;
    height: 50px;
    align-self: center;
    margin-top: 100px;
    overflow: hidden;
}

.menuWidth{
    witdth: 200px;
    background-color: burlywood;
}
@media screen and (max-width: 640px) {
    .menuWidth{
        width: 100px;
    }
    .bouton{
        width: 100px;
    }

}