main {
    margin: 50px 50px 50px 50px;
}

main h2 {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

main h3 {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

main p {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

main a:link {
    color:green;
    background-color:transparent;
    text-decoration:none;
}

main a:visited {
    color: black;
    background-color:transparent;
    text-decoration:none;
}

main a:hover {
    color: grey;
    background-color:transparent;
    text-decoration:underline;
}

main a:active {
    color: grey;
    background-color:transparent;
    text-decoration:underline;
}

main .movieInfosContainer {
    display: inline-block;
}

main .description {
    display: inline-block;
    width: 60%;
    vertical-align:top;
    padding-left: 5%;
    padding-right: 5%;
}

main .rating {
    display: inline-block;
}

main div.actorsList li {
    color: black;
}