

movie {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    position:static;
    position: fixed;
    right: 0;
    z-index: 9999;
    margin: 50px 50px 50px 50px;
}

movie h2 {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

movie h3 {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

movie p {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

movie a:link {
    color:green;
    background-color:transparent;
    text-decoration:none;
}

movie a:visited {
    color: black;
    background-color:transparent;
    text-decoration:none;
}

movie a:hover {
    color: grey;
    background-color:transparent;
    text-decoration:underline;
}

movie a:active {
    color: grey;
    background-color:transparent;
    text-decoration:underline;
}

movie .movieInfosContainer {
    display: inline-block;
}

movie .description {
    display: inline-block;
    width: 60%;
    vertical-align:top;
    padding-left: 5%;
    padding-right: 5%;
}

movie .rating {
    display: inline-block;
}

movie div.actorsList li {
    color: black;
}