.showInfoSection {
    display: block;
    position: relative;
    /*width: 800px;*/
    padding: 10px;
    margin-bottom: 20px;
}

.showInfoSection .showName {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.showInfoSection .showInfoBox {
    width: 86.25%;
    float: left;
    height: 50px;
}

.showInfoSection .showLink {
    width: 13.75%;
    float: right;
    height: 50px;
}

.showInfoSection .showDescription {
    width: 95%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.showInfoSection .showVideoPreviewContainer {
    width: 100%;
    margin-bottom: 120px;
}

.showInfoSection .showVideoPreviewContainer .showCover {
    float: left;
    width: 37.5%;
    padding-left: 10%;
    margin-bottom: 40px;
}

.showInfoSection .showVideoPreviewContainer .showVideoPreviewContent {
    float: right;
    width: 37.5%;
    padding-right: 10%;
    padding-left: 5%;
    margin-bottom: 40px;
}

.showInfoSection .showEpisodeListContainer {
    display: block;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.showInfoSection .showEpisodeListContainer .showSeasonContainer {
    width: 100%;
    height: 575px;
}

.showInfoSection .showEpisodeListContainer .showEpisodeListHeader {
     width: 100%;
     margin: auto;
     text-align: center;
     margin-bottom: 30px;
 }

.showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonCover {
    position: relative;
    width: 30%;
    height: 500px;
    margin-left: 5%;
    margin-right: 15%;
    float: left;
    margin-bottom: 45px;
}

.showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonEpisodeList {
    position: relative;
    float: right;
    width: 50%;
    margin-bottom: 45px;
}

.showInfoSection .showEpisodeListContainer .showSeasonEpisodeList p {
    text-align: center;
}






