#Menu
{
    background: blue;
    display: inline;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#Application, #mainContainer
{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
}

.movieTitle, .movieInfos, .movieContainer, .movieLink
{
    background: darkblue;
    display: inline-block;
    width: 100%;
}

@media (max-width: 1024px)
{
    #Menu
    {
        width: 100px;
    }

    #mainContainer
    {
        left: 100px;
    }
}

@media (max-width: 480px)
{
    #Menu
    {
        display: none;
    }
}