h2 {
    color: crimson;
    background-color: transparent;
    text-decoration: none;
}

p {
    color: crimson;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color:green;
    background-color:transparent;
    text-decoration:none;
}

a:visited {
    color: crimson;
    background-color:transparent;
    text-decoration:none;
}

a:hover {
    color: darkred;
    background-color:transparent;
    text-decoration:underline;
}

a:active {
    color: darkred;
    background-color:transparent;
    text-decoration:underline;
}

.movieInfos {
    display: inline-block;
}

.rating {
    display: inline-block;
}

div.actorsList li {
    color: crimson;
}