<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page movies avec un template</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
    <link rel="stylesheet" href="css/movie.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">

</head>
<body>

<div id = "movies_container">
    <div id="movies-lists"></div>
</div>
<script type="text/template" id="movie-template">
    <movie>
        <div id="mainContainer">
            <div class="movieTitle">
                <h2><%= movie.trackName %></h2>
                <div class="coverPhoto">
                    <input id="cover" type="image" height="300" src=<%= movie.artworkUrl100%> />
                </div>
            </div>
            <div class="description">
                <h3>Synopsis</h3>
                <p><%= movie.longDescription%></p>
            </div>
            <div class="infos">
                <h5>Genre: <span><%= movie.primaryGenreName %></span></h5>
                <h5>Release date: <span><%= movie.releaseDate%></span></h5>
                <h5>Country: <span><%= movie.country%></span></h5>
                <h5>Director: <span><%= movie.artistName%></span></h5>
                <h5>Duration: <span><%= movie.trackTimeMillis %> minutes</span></h5>
            </div>
            <div class="rating">
                <h4>Rating: <span><%= movie.contentAdvisoryRating%></span></h4></div>


            <div class="movieContainer">

                <a href="https://geo.itunes.apple.com/ca/movie/hunger-games-mockingjay-part/id934521922?mt=6" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                <iframe width="560" height="315"  frameborder="0" allowfullscreen src=<%= movie.previewUrl %>></iframe>

            </div>
            <div id="containerBuy">
                <button>Buy(SD):<%= movie.trackPrice %></button>
                <button>Buy(HD):<%= movie.trackHdPrice %></button>
            </div>
            <div id="rentContainer">
                <button>Rental(SD):<%= movie.trackRentalPrice %></button>
                <button>Rental(HD :<%= movie.trackHdRentalPrice %></button>
            </div>
        </div>
    </movie>
</script>

<script src="scripts/models/movie.js"></script>
<script src="scripts/views/movies.js"></script>
<script src="scripts/app.js"></script>


</body>
</html>