.showInfoSection {
    display: block;
    position: relative;
    width: 800px;
    padding: 10px;
    margin-bottom: 20px;
}

.showInfoSection .showName {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.showInfoSection .showInfoBox {
    width: 690px;
    float: left;
    height: 50px;
}

.showInfoSection .showLink {
    width: 110px;
    float: right;
    height: 50px;
}

.showInfoSection .showDescription {
    width: 100%;
    margin-bottom: 20px;
}

.showInfoSection .showVideoPreviewContainer {
    margin-bottom: 120px;
}

.showInfoSection .showVideoPreviewContainer .showCover {
    float: left;
    padding-left: 20px;
    margin: auto;
    margin-bottom: 40px;
}

.showInfoSection .showVideoPreviewContainer .showVideoPreviewContent {
    float: right;
    padding-left: 100px;
    padding-right: 20px;
    margin: auto;
    margin-bottom: 40px;
}

.showInfoSection .showEpisodeListContainer {
    display: block;
    position: relative;
    width: 700px;
    margin: auto;
}

.showInfoSection .showEpisodeListContainer .showSeasonContainer {
    margin-bottom: 45px;
}

.showInfoSection .showEpisodeListContainer .showEpisodeListHeader {
     width: 100%;
     margin: auto;
     text-align: center;
     margin-bottom: 10px;
 }

.showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonCover {
    width: 360px;
    height: 500px;
    float: left;
    margin-bottom: 45px;
}

.showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonEpisodeList {
    float: right;
    width: 340px;
}

.showInfoSection .showEpisodeListContainer .showSeasonEpisodeList p {
    text-align: center;
}



