/* RESPONSIVE CSS*/
/* Phone */
@media (max-width: 600px) {
    .showInfoSection {
        width: 300px;
        padding: 0px;
    }

    .showInfoSection .showInfoBox {
        width: 190px;
    }

    .showInfoSection .showVideoPreviewContainer .showCover {
        float: none;
        width: 212px;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }

    .showInfoSection .showVideoPreviewContainer {
        margin-bottom: 20px;
    }

    .showInfoSection .showVideoPreviewContainer .showVideoPreviewContent {
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        width: 252px;
        height: 189px;
        margin: auto;
        margin-bottom: 10px;
    }

    .showInfoSection .showVideoPreviewContainer .showVideoPreviewContent .videoPlayer {
        width: 252px;
        height: 189px;
        margin: auto;
    }

    .showInfoSection .showEpisodeListContainer {
        width: 300px;
    }

    .showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonEpisodeList {
        float: none;
        width: 300px;
    }

    .showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonEpisodeList .showOrderedList {
        -webkit-column-count: 1;
    }

    .showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonCover {
        margin-bottom: 10px;
        float: none;
        width: 252px;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
    }

    .showInfoSection .showEpisodeListContainer .showSeasonContainer .showSeasonCover .cover {
        width: 252px;
        height: 350px;
    }
}